@import "./const.css";
@import "./ProgressBar/ProgressBar.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App {
    /*margin-top: 20%;*/
    /*margin-top: auto;*/
    height: 90vh;
    max-width: 70%;
    padding: 0 70px;
    margin: 7% auto;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 1023px) {
    .App {
        max-width: 80%;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 569px) {
    .App {
        max-width: 100%;
        padding: 0 20px;
    }
}
